

header {
  // width: 100%;
  // background-color: #136FFF;
  // height: 70px;
  // margin: 0 auto;
}

.header-logo {
  font-size: 20px;
  float: left;
  color: white;
  padding: 15px;
}

header ul {
  margin: 0 auto;
  list-style: none;

}

header li  a {
  float: right;
  padding: 15px;
  color: white;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}



footer {
  width: 100%;
  background-color: #136FFF;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
